@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Bricolage+Grotesque:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    font-family: "Archivo", ui-sans-serif, system-ui, sans-serif;
    background-color: #fbfbfa;
    color: #34352e;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
}

.font-bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
}

.font-archivo {
  font-family: "Archivo", sans-serif;
}

@layer components {
  .global-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@layer utilities {
  .heading-base {
    @apply font-extrabold text-[44px] leading-[38px] lg:text-[58px] lg:leading-[73px] tracking-[-0.03em];
  }

  .text-base {
    @apply font-bold text-[18px] leading-[25px] lg:text-[20px];
  }
}
