@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Bricolage+Grotesque:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    color-scheme: light;
    font-family: "Archivo", ui-sans-serif, system-ui, sans-serif;
    background-color: #fbfbfa;
    color: #34352e;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
}

.font-bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
}

.font-archivo {
  font-family: "Archivo", sans-serif;
}

@layer components {
  .global-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@layer utilities {
  .main-heading {
    @apply font-extrabold text-[40px] leading-[38px] tracking-[-0.09em];
    @apply md:text-[86px] md:leading-[73px];
  }
  .heading-base {
    @apply font-extrabold text-[38px] leading-[73px] tracking-[-0.09em];
    @apply md:text-[58px] md:leading-[73px];
  }
  .sub-heading {
    @apply font-bricolage font-extrabold text-[42px] leading-[38px] tracking-[-0.08em];
    @apply md:text-[58px] md:leading-[59px];
  }

  .text-base {
    @apply text-[18px] leading-[25px] md:text-[20px];
  }
  .custom-box-shadow {
    background: linear-gradient(to bottom, #54564a, #34352e);

    border: 1px solid rgba(52, 53, 46, 0.28);

    /* Inner shadows */
    box-shadow: inset 0px -3px 3px #272822,
      inset 0px 5px 8px rgba(46, 47, 40, 0.62);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
