@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Bricolage+Grotesque:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Archivo", ui-sans-serif, system-ui, sans-serif;
  --color-page-bg: #fbfbfa;
}

@layer base {
  html,
  body {
    font-family: "Archivo", sans-serif;
    background-color: var(--color-page-bg);
    color: #34352E;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
}

.font-bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
}

.font-archivo {
  font-family: "Archivo", sans-serif;
}

@layer components {
  .page-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1320px;
  }

  @media (min-width: 640px) {
    .page-container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @media (min-width: 1024px) {
    .page-container {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  .container-main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 640px) {
    .container-main {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @media (min-width: 1024px) {
    .container-main {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }
}
